mixin sTrener()
	// start sTrener
	+b.SECTION.sTrener.pt-0.section#sTrener&attributes(attributes)
		.container
			+pic("trener.png")
			+e.small — Никита Толмачев, ведущий марафона
			p &laquo;На&nbsp;самом деле всё намного проще. #[strong Достаточно регулярно совершать  <br>  простые действия], о&nbsp;которых  <br> я&nbsp;расскажу тебе на&nbsp;марафоне.

			p: strong Не&nbsp;важно сколько тебе лет, есть&nbsp;ли свободное время, тренируешься ты в&nbsp;фитнес-клубе или дома на&nbsp;коврике.

			p Ты&nbsp;убедишься, что всё в&nbsp;твоих силах, поймешь, как прийти к&nbsp;желаемому результату и&nbsp;будешь гордиться собой.&raquo;
	// end sTrener