
	// start .sControl
	.sControl {
		--sPB: 17px;
		h2{
			text-align: center;
			margin-bottom: 10px;
		}
		&__name{
			text-align: center;
			margin-bottom: 27px;
		}
		&__slide{
			border-radius: 5px;
			background-color: #000000;
			position: relative;
			overflow: hidden;
		}
		 &__control-wrap{
			 position: relative;
			 margin-left: auto;
			 margin-right: auto;
			 max-width: 180px;
			 height: 55px;
			 margin-top:25px;
		 }
		 ul{
			 padding-top: rem(30);
		 }
		 li{
			 list-style: none;
			 position: relative;
			 padding-left: 35px;
			 padding-bottom: 15px;
			 line-height: (20 / 16);
			 margin-bottom: rem(5);
			 &::before{
				 content: '';
				 position: absolute;
				 width: 24px;
				 height: 22px;
				 background-image: url(../img/hand.svg);
				 background-repeat: no-repeat;
				 background-position: center center;
				 background-size: contain;
				 left: 0;
			 }
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sControl