mixin sJoin()
	// start sJoin
	+b.SECTION.sJoin.section#sJoin&attributes(attributes)
		.container
			h2 Регистрируйся 
				br
				| на&nbsp;марафон прямо сейчас.
				br
				| Сделай шаг к&nbsp;своей 
				br
				| лучшей форме.
			+e.text Старт уже 24-го августа. 
				br
				| Это будет тот самый понедельник, 
				br
				| с&nbsp;которого ты&nbsp;действительно начнешь меняться.
			a.btn(href="#") ЗАРЕГИСТРИРОВАТЬСЯ <br> БЕСПЛАТНО
	// end sJoin