mixin sGift()
	// start sGift
	+b.SECTION.sGift.section#sGift&attributes(attributes)
		.container
			h2 Если сделаешь все 4&nbsp;задания марафона, сможешь принять участие в&nbsp;розыгрыше подарка:
			+pic("gift-img.png")
			.h1.strong Индивидуальная программа питания и&nbsp;тренировок
			a.btn(href="#") ХОЧУ НА МАРАФОН!
	// end sGift