extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sNow/_sNow.pug
include ../blocks/sTrener/_sTrener.pug
include ../blocks/sResult/_sResult.pug
include ../blocks/sGift/_sGift.pug
include ../blocks/sControl/_sControl.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sJoin/_sJoin.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
	+sNow
	+sTrener
	+sResult
	+sGift
	+sControl
	+sHow
	+sJoin

	