mixin sResult()
	// start sResult
	+b.SECTION.sResult.section#sResult&attributes(attributes)
		.container 
			h2 Твой результат уже за 4 дня 
			mixin i(i,t,p)
				+e.item
					+e.img-wrap
						img.res-i.lazy(src="#" data-src=`img/sResult-${i}.svg`, alt="")
					div
						+e.title!= t
						p!= p
			+i('1',`Научишься правильно питаться`,`Поймешь, как худеть <br> без голоданий, диет и&nbsp;срывов. Начнешь правильно выбирать продукты и&nbsp;не&nbsp;будешь вестись на&nbsp;маркетинговые уловки.`)
			+i('2',`Рассчитаешь свою норму <br> калорий`,`Узнаешь, сколько КБЖУ нужно употреблять именно тебе, чтобы достичь желаемой цели за&nbsp;желаемый срок, не&nbsp;навредив здоровью.`)
			+i('3',`Узнаешь лайфхаки тренеров`,`Как легко и&nbsp;правильно считать калорийность блюд, даже без кухонных весов. Какими приложениями пользоваться.`)
			+i('4',`Начнешь тренироваться дома`,`Получишь подборку упражнений для округлых ягодиц. <br> Все задания можно делать <br> даже у&nbsp;себя дома.`)
	// end sResult