mixin sHow()
	// start sHow
	+b.SECTION.sHow.section#sHow&attributes(attributes)
		.container
			h2 Как все будет
				
			ul
				li Каждый день, начиная с&nbsp;#[strong 24-го августа], ты&nbsp;получаешь видеоурок <br> и&nbsp;задание в&nbsp;Telegram.

				li  Выполняешь задание в&nbsp;течение суток. По&nbsp;желанию&nbsp;&mdash; общаешься <br> с&nbsp;другими участниками. Вместе веселей ;)

				li Получаешь результат <br> и&nbsp;принимаешь участие <br> в&nbsp;розыгрыше индивидуальной программы питания и&nbsp;тренировок.
	// end sHow